{
	"overrides": [
		{
			"files": "*.{js,ts,jsx,tsx}",
			"options": {
				"semi": false,
				"useTabs": true,
				"tabWidth": 2,
				"printWidth": 120,
				"singleQuote": true,
				"jsxSingleQuote": false,
				"bracketSpacing": true,
				"arrowParens": "always"
			}
		},
		{
			"files": "*.scss",
			"options": {
				"useTabs": true,
				"tabWidth": 2,
				"printWidth": 120,
				"singleQuote": true
			}
		}
	]
}