// Base styles
.header {
	position: relative;
	display: block;
	height: auto !important;
	z-index: $zindex-header;
}

.header-holder {
	background: $header-bg;
	border-bottom: $header-border-width solid $header-border-color;
	@include transition($header-transition);
}

.header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding-top: $header-container-padding-y;
	padding-bottom: $header-container-padding-y;
}

.header-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	white-space: nowrap;

	// Fit wrapper to empty space
	&.header-wrap-block { flex: 1; }
}

.header-title {
	color: $header-title-color;
	font-size: $header-title-font-size;
	font-weight: $header-title-font-weight;
	padding: 0;
	margin: 0;
}

.header-brand {
	color: $header-brand-color;
	font-size: $header-brand-font-size;
	font-weight: $header-brand-font-weight;
	padding: 0;
	margin: 0;
}

.header-divider {
	width: $header-divider-width;
	height: $header-divider-height;
	background: $header-divider-color;
	margin: 0 $header-divider-margin-x;
}

// Sticky JS support
.sticky-header {
	> .sticky-inner-wrapper {
		z-index: 9999 !important;
	}
}

// Breakpoints for hiding .header-holder element
@include media-breakpoint-down($layout-breakpoint-mobile-desktop) {
	.header-holder-desktop { display: none; }
}

@include media-breakpoint-up($layout-breakpoint-mobile-desktop) {
	.header-holder-mobile { display: none; }
}
